@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.bg-blue-50 {
  background-color: #e3f2fd;
}

.text-blue-500 {
  color: #2196f3;
}